<template name="ohifViewer">
    {{#header brandHref='https://autana.tech' headerClasses=instance.headerClasses}}
        {{#section 'brand'}}
            <svg class="logo-image">
                <use xlink:href={{absoluteUrl "packages/ohif_viewerbase/assets/icons.svg#icon-ohif-logo"}}></use>
            </svg>
            <div class="logo-text">Autana Web Viewer</div>
        {{/section}}
        {{#section 'headerAfterBrand'}}
            {{#if studyListToggleText}}
            {{/if}}
        {{/section}}
        {{#section 'headerMenu'}}
            <span class="research-use pull-left m-r-1">
                Autana TECH
            </span>
            <span class="header-options pull-left m-r-1">Options</span>
            <div class="menu-toggle pull-right">
                <span class="caret-down"></span>
            </div>
        {{/section}}
    {{/header}}
    
    {{#if isStudyListReady}}
        {{>Template.dynamic template=(choose this.template 'studylist') data=this}}
    {{/if}}
</template>
